{% load i18n %}
		<div class="row g-0">
			<div class="col-auto">
				<form class="row g-2" action method="post">
					{% csrf_token %}
					{% if form.key.errors %}
						{{ form.key.errors }}
					{% endif %}
					<div class="col-sm-2 col-form-label">
						<label for="{{ form.key.id_for_label }}"/>
					</div>
					<div class="col-10">
						{{ form.key }}<input type="submit" class='btn btn-success' value='{% translate "Transpose" %}'/>
					</div>			
				</form>
			</div>
		</div>
		<br>
		<div class="row g-0">
			<div class="col-auto">
				{% translate "Original key:" %} {{ ori_key }}
			</div>
		</div>
		<div class="row g-0">		
			<div class="col-auto">
				Tags: 
				{% if tagged_list is not none %}
					{% for t in tagged_list %}
						<span class="badge bg-secondary">{{ t }}</span>
					{% endfor %}
				{% else %}
					{% translate "None" %}
				{% endif %}
			</div>
		</div>	
			
			
		<div class="row">
			<div class="col-md-8 col-xs-12">
				{{ html|safe }}
			</div>
			<div class="col-md-4 col-xs-12 d-none d-sm-block">
				<div class="card" style="width: 18rem;">
				  <div class="card-body">
					<h5 class="card-title">{% translate "Description" %}</h5>
					<h6 class="card-subtitle mb-2 text-muted">{% translate "Functionality and features" %}</h6>
					<p class="card-text">{% translate "Underneath of title and singer/author there are several tabs:" %}<br>
						<ul>
						  <li>{% translate "Lyrics with chords - is a current page with main features, which will be described below." %}</li>
						  <li>{% translate "Lyrics - page without any chords." %}</li>
						  <li>{% translate "Media - media section, where there will be links and players. Gives you a chance to listen, learn and prepare for service." %}</li>
						  <li>{% translate "Translations - page to bind translation versions of current song to the database." %}</li>
						</ul>
					</p>

				  </div>
				</div>
			</div>
		</div>