{% load i18n %}
  <div class="row">
    <div class="col-10">
    <a class="btn btn-primary btn-sm" href="{% url 'manage_media' song_id=song.id %}" role="button">{% translate "Manage Media library" %}</a>
    
    <hr>
	</div>
	<div class="col-10">
	<h4><strong>{% translate "Images" %}</strong></h4><br>
	<h5>{% translate "File Upload" %}</h5>
    <form action="{% url 'upload_images' song_id=song.id mtype=3 %}" class="dropzone">
	{% csrf_token %}
    </form>
    <hr>
    {% if images %}
		{% for image in images %}
			<img src="{{ image.image.url }}" style="width: 64px;cursor:zoom-in" onclick="document.getElementById('modal{{ image.id }}').style.display='block'">
		{% endfor %}
	{% endif %}
	</div>
    <div class="col-md-4 col-xs-12"><h4><strong>{% translate "Audio" %}</strong></h4><br>
	{% for a in audio %}
	  <div>
		<h5>{{ a.title }}</h5>
		<audio id="audioPlayer{{ a.id }}" src="{{ a.audio_file.url }}"></audio>
		<input type="range" id="volumeSlider{{ a.id }}" min="0" max="1" step="0.1" value="1" onchange="changeVolume({{ a.id }}, this.value)">
		<button class="btn btn-success btn-sm" onclick="playSong({{ a.id }})"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16">
			<path d="M10.804 8 5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"/>
			</svg>
		</button>
		<button class="btn btn-danger btn-sm" onclick="stopSong({{ a.id }})"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-stop" viewBox="0 0 16 16">
			<path d="M3.5 5A1.5 1.5 0 0 1 5 3.5h6A1.5 1.5 0 0 1 12.5 5v6a1.5 1.5 0 0 1-1.5 1.5H5A1.5 1.5 0 0 1 3.5 11V5zM5 4.5a.5.5 0 0 0-.5.5v6a.5.5 0 0 0 .5.5h6a.5.5 0 0 0 .5-.5V5a.5.5 0 0 0-.5-.5H5z"/>
			</svg>
		</button>
		<div>
		  <span id="currentTime{{ a.id }}">0:00</span> / <span id="duration{{ a.id }}">0:00</span>
		</div>
		<input type="range" id="tracker{{ a.id }}" min="0" max="100" step="0.1" value="0" oninput="seekSong({{ a.id }}, this.value)" onchange="seekSong({{ a.id }}, this.value)">
	  </div>
	{% endfor %}
	</div>
<script>
  var sounds = {};
  var currentSongId;

  function playSong(songId) {
    if (currentSongId !== songId) {
      stopCurrentSong();
      currentSongId = songId;
      var audioPlayer = document.getElementById('audioPlayer' + songId);
      var volumeSlider = document.getElementById('volumeSlider' + songId);
      var tracker = document.getElementById('tracker' + songId);
      var currentTime = document.getElementById('currentTime' + songId);
      var duration = document.getElementById('duration' + songId);

      sounds[songId] = new Howl({
        src: [audioPlayer.src],
        html5: true,
        volume: volumeSlider.value,
        onplay: function() {
          requestAnimationFrame(updateTracker.bind(null, songId, tracker, currentTime, duration));
        },
        onend: function() {
          currentSongId = null;
        }
      });

      sounds[songId].play();
    } else if (sounds[songId] && !sounds[songId].playing()) {
      sounds[songId].play();
    }
  }

  function stopCurrentSong() {
    if (currentSongId) {
      if (sounds[currentSongId] && sounds[currentSongId].playing()) {
        sounds[currentSongId].stop();
      }
      currentSongId = null;
    }
  }

  function stopSong(songId) {
    if (currentSongId === songId) {
      stopCurrentSong();
    } else if (sounds[songId] && sounds[songId].playing()) {
      sounds[songId].stop();
    }
  }

  function changeVolume(songId, value) {
    if (sounds[songId]) {
      sounds[songId].volume(value);
    }
  }

  function seekSong(songId, value) {
    if (sounds[songId]) {
      var duration = sounds[songId].duration();
      sounds[songId].seek(value / 100 * duration);
      updateCurrentTime(songId, value);
    }
  }

  function updateTracker(songId, tracker, currentTime, duration) {
    if (sounds[songId]) {
      var seek = sounds[songId].seek();
      var totalDuration = sounds[songId].duration();
      tracker.value = (seek / totalDuration) * 100;

      currentTime.textContent = formatTime(seek);
      duration.textContent = formatTime(totalDuration);

      if (sounds[songId].playing()) {
        requestAnimationFrame(updateTracker.bind(null, songId, tracker, currentTime, duration));
      }
    }
  }

  function updateCurrentTime(songId, value) {
    var currentTime = document.getElementById('currentTime' + songId);
    var duration = sounds[songId].duration();
    var seekTime = (value / 100) * duration;
    currentTime.textContent = formatTime(seekTime);
  }

  function formatTime(time) {
    var minutes = Math.floor(time / 60);
    var seconds = Math.floor(time % 60);
    seconds = seconds < 10 ? '0' + seconds : seconds;
    return minutes + ':' + seconds;
  }
</script>
    <div class="col-md-6 col-xs-12">
	<h4><strong>Video</strong></h4><br>
		<div class="embed-responsive embed-responsive-16by9">
			{% for l in media %}
			  {{ l.murl|safe }}
			{% endfor %}
			
		</div>
	</div>
</div>  
{% if images %}
	{% for image in images %}
	
	<div id="modal{{ image.id }}" class="w3-modal" onclick="this.style.display='none'">
		<span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
		<div class="w3-modal-content w3-animate-zoom">
		  <img src="{{ image.image.url }}" style="width:100%">
		</div>
	</div>
	
	{% endfor %}
{% endif %}
	
	
