        <tr valign="top">
            <td class="d-none d-sd-block">{{ song.id }}</td>
			<td><a href="{% url 'view_song' song_id=song.id key=song.key %}">{{ song.title }}</a></td>
            <td class="d-none d-sd-block">{{ song.singer }}</td>
			<td>
			{% if song.key %}
				{% for index, key in keyset %} 
					{% if index == song.key %}
						{{ key }}
					{% endif %}	
				{% endfor %}
				{% if song.minor %}
					m
				{% endif %}
			{% endif %}
			</td>
			<td class="d-none d-sd-block"></td>
			<td>
			</td>
        </tr>