<div class="row">	
		<div class="col">
			<table class="table table-responsive-sm table-hover">
			<thead>
			  <tr>
				 <th class="th-sm" scope="col">{{ _('No.') }}</th>
				 <th class="th-lg" scope="col">{{ _('Tags') }}</th>
				 <th class="th-sm" scope="col">{{ _('Functions') }}</th>
			  </tr>
			</thead>
			<tbody>
			{% for t in tags %}
				<tr valign="top">
					<td>{{ t.id }}</td>
					<td><a href="{{ url_for('.tag_songlist', tagid=t.id) }}">{{ t.name }}</a></td>
					<td>
					{% if current_user.is_anonymous %}
					To delete login required
					{% else %}
					<form action="{{ url_for('.remove_tag', tagid=t.id) }}" method="post">
						{{ form.hidden_tag() }}
						{{ form.submit(value='Delete') }}
					</form>
					{% endif %}
					</td>
				</tr>
			{% endfor %}
			</tbody>
			</table>
		</div>
	</div>