{% load i18n %}
<div class="row">	
	<div class="col">
		<h3>{% translate "Add translation to" %} {{ song.title }} {% translate "from the list of existing song titles" %}</h3>
		{% if tr_song_id %}
		<form class="form-floating needs-validation" action="{% url 'add_transl' song_id=song.id %}" method="post" novalidate>
			{% csrf_token %}
			<div class="row mb-3">
				{{ transl_form.title.errors }}
				<div class="col-sm-2 col-form-label">
				<label for="{{ transl_form.title.id_for_label }}"></div>
				<div class="col-10">
				{{ transl_form.title }}
				</div>      
			</div>
			<div class="d-grid gap-2 col-2 mx-auto">
			<input type="submit" class='btn btn-success' value='{% translate "Link" %}'/>
			</div>
		</form>
		{% else %}
		<br>
		<div class="p-3 border bg-light">
		<center>Currently there are no songs to pick from</center></div>
		<br>
		{% endif %}
	</div>
</div>
<div class="row">	
	<div class="col">
		<table class="table table-responsive-sm table-hover">
		<thead>
		  <tr>
			 <th class="th-lg" scope="col">{% translate "Songs" %}</th>
			 <th class="th-sm" scope="col">{% translate "Language" %}</th>
			 <th class="th-sm" scope="col">{% translate "Actions" %}</th>
		  </tr>
		</thead>
		<tbody>
		{% for tr in t_songlist %}
			<tr valign="top">
				<td><a href="{% url 'view_song' song_id=tr.id %}">{{ tr.title }}</a></td>
				<td>{% if tr.language %}
				{% for index, l in lang %} 
					{% if index == tr.language %}
						{{ l }}
					{% endif %}	
				{% endfor %}
			{% endif %}</td>
				<td>
				{% if current_user.is_anonymous %}
				{% translate "To unlink login required" %}
				{% else %}
				<form action="{% url 'remove_transl' selsong_id=tr.id cursong_id=song.id %}" method="post">
					{% csrf_token %}
					<input type="submit" class='btn btn-success' value='{% translate "Unlink" %}'/>
				</form>
				{% endif %}
				</td>
			</tr>
		{% endfor %}
		</tbody>
		</table>
	</div>
</div>