{% extends "base.html" %}

{% block head_js %}
  <script src="{{ url_for('static', filename='/js/popper.min.js') }}" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script>
  // Initialize the date and time picker for the date_time and date_end fields
  flatpickr('.datetimepicker', {
            enableTime: true,
            dateFormat: 'Y-m-d H:i'
        });
</script>
{% endblock %}


{% block app_content %}
    
    <div class="row">
	<div class="col-md-6 col-xs-12">
	<br>
	<h3>{{ _('Create new Event') }}</h3>
	<form class="form-floating needs-validation" action="{{ url_for('add2event') }}" method="post" novalidate>
        {{ addform.hidden_tag() }}
        <div class="row mb-3">
            {{ addform.list_title.label(class_='col-sm-2 col-form-label') }}
			<div class="col-10">
            {{ addform.list_title(class='form-control', style='min-width: 100%') }}<br>
            {% for error in addform.list_title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
			</div>
        </div>
		<div class="row mb-3">
			{{ addform.date_time.label(class_='col-sm-2 col-form-label') }}
			<div class="col-10">
            {{ addform.date_time(class='datetimepicker', style='min-width: 100%') }}<br>
            {% for error in addform.date_time.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
			</div>
        </div>
        <div class="row mb-3">
			{{ addform.date_end.label(class_='col-sm-2 col-form-label') }}
			<div class="col-10">
            {{ addform.date_end(class='datetimepicker', style='min-width: 100%') }}
            {% for error in addform.date_end.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
			</div>      
		</div>
		<div class="row mb-3">
            {{ addform.mlink.label(class_='col-sm-2 col-form-label') }}
			<div class="col-10">
            {{ addform.mlink(class="form-control") }}
            {% for error in addform.mlink.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
			</div>      
		</div>
		<div class="d-grid gap-2 col-2 mx-auto">
		{{ addform.submit(class="btn btn-success") }}
		</div>
    </form>
	</div>
		<div class="col-md-6 col-xs-12">
		<br>
		<h3>{{ _('or Add to Existing Event') }}</h3>
			<form class="form-floating needs-validation" "form-floating needs-validation" action="{{ url_for('add2xevent') }}" method="post" novalidate>
				{{ assignform.hidden_tag() }}
				<div class="row mb-3">
					{{ assignform.event.label(class_='col-sm-2 col-form-label') }}
					<div class="col-10">
					{{ assignform.event(class='form-control', style='min-width: 100%') }}<br>
					{% for error in assignform.event.errors %}
					<span style="color: red;">[{{ error }}]</span>
					{% endfor %}
					</div>
				</div>
				<div class="d-grid gap-2 col-2 mx-auto">
				{{ assignform.submit(class="btn btn-success") }}
				</div>
			</form>
			</div>
	</div>
{% endblock %}