{% extends "base.html" %}
{% load custom_tags %}
{% load i18n %}


{% block head_js %}
{% load static %}
  <script src="{% static 'js/popper.min.js' %}" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'css/flatpickr.min.css' %}">
  <script src="{% static 'js/flatpickr.js' %}"></script>
  <script src="{% static 'js/django-flatpickr.js' %}"></script>
  <script>
  // Initialize the date and time picker for the date_time and date_end fields
  flatpickr('.datetimepicker', {
            enableTime: true,
            dateFormat: 'Y-m-d H:i'
        });
</script>
{% endblock %}


{% block app_content %}
    
    <div class="row">
	<div class="col-md-6 col-xs-12">
	<br>
	<h3>{% translate "Create new Event" %}</h3>
	<form class="form-floating needs-validation" action="{% url 'add2event' %}" method="post" novalidate>
        {% csrf_token %}
		
		<div class="row mb-3">
            {{addform.title.errors}}
			<div class="col-sm-2 col-form-label">
			<label for="{{ addform.title.id_for_label }}">{{ addform.title.label }}</label>
			</div>
			<div class="col-10">
            {{ addform.title }}
			</div>
        </div>
        <div class="row mb-3">
            {{addform.date_time.errors}}
			<div class="col-sm-2 col-form-label">
			<label for="{{ addform.date_time.id_for_label }}">{{ addform.date_time.label }}</label>
			</div>
			<div class="col-3">
            {{ addform.date_time }}
			</div>
			{{addform.date_end.errors}}
			<div class="col-sm-1">
			<label for="{{ addform.date_end.id_for_label }}"><p class="text-center">{{ addform.date_end.label }}</p></label>
			</div>
			<div class="col-3">
            {{ addform.date_end }}
			</div>
        </div>
		<div class="row mb-3">
            
        </div>
		<div class="row mb-3">
            {{addform.mlink.errors}}
			<div class="col-sm-2 col-form-label">
			<label for="{{ addform.mlink.id_for_label }}">{{ addform.mlink.label }}</label>
			</div>
			<div class="col-10">
            {{ addform.mlink }}
			</div>
        </div>
		<div class="row mb-3">
            {{addform.passage.errors}}
			<div class="col-sm-2 col-form-label">
			<label for="{{ addform.passage.id_for_label }}">{{ addform.passage.label }}</label>
			</div>
			<div class="col-10">
            {{ addform.passage }}
			</div>
        </div>
		<div class="row mb-3">
            {{addform.status.errors}}
			<div class="col-sm-2 col-form-label">
			<label for="{{ addform.status.id_for_label }}">{{ addform.status.label }}</label>
			</div>
			<div class="col-10">
            {{ addform.status }}
			</div>
        </div>
		<div class="d-grid gap-2 col-2 mx-auto">
			<input type="submit" class='btn btn-success' value='{% translate "Submit" %}'/>
		</div>
    </form>
	</div>
			<div class="col-md-6 col-xs-12">
			<br>
			<h3>{% translate "or Add to Existing Event" %}</h3>
			<form class="form-floating needs-validation" "form-floating needs-validation" action="{% url 'add2xevent' %}" method="post" novalidate>
				{% csrf_token %}
					<div class="row mb-3">
						{{ assignform.title.errors }}
						<div class="col-sm-2 col-form-label">
							<label for="{{ assignform.title.id_for_label }}">{{ assignform.title.label_tag }}</label>
						</div>
						<div class="col-10">
							{{ assignform.title }}
						</div>      
					</div>
				<div class="d-grid gap-2 col-2 mx-auto">
					<input type="submit" class='btn btn-success' value='{% translate "Submit" %}'/>
				</div>
			</form>
			</div>
	</div>
{% endblock %}