{% extends "base.html" %}

{% block head_js %}
  <script src="{{ url_for('static', filename='dist/index.global.js') }}"></script>
<script>

  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      editable: true,
      selectable: true,
      dayMaxEvents: true, // allow "more" link when too many events
      events: '/events',
	  themeSystem: 'bootstrap5',
	  eventClick: function(info) {
        
    }
    });

    calendar.render();
  });

</script>
<style>
  #calendar {
    max-width: 1100px;
    margin: 0 auto;
  }
</style>
<script>
	function goBack() {
	  window.history.back();
	}
</script>
{% endblock %}

{% block app_content %}
<div class="container">
  <hr class="bg-danger border-2 border-top border-secondary">
  <div class="row">
  <div class="col-11"></div></div>
  <div class="row">
	<div class="col-auto"><a onclick="goBack()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-left" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
  <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
</svg></a></div>
	<div class="col-7"><h3>{{ _('Church service') }}</h3></div>
    <div class="col-4">
		<nav class="nav nav-pills justify-content-end">
			<a class="nav-link active" href="{{ url_for('make_list') }}">{{ _('Add event') }}</a>
			<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">{{ _('Disabled') }}</a>
		</nav>
    
  </div>
  </div>
  <hr class="bg-danger border-2 border-top border-secondary">
  <div class="row">
  <div class="col-11">
  <div id="calendar"></div>
</div>
</div>


	
	
{% endblock %}






    