{% extends "base.html" %}
{% load i18n %}

{% block app_content %}
    
	<h4>Draft to confirm</h4>
	
	    <div class="row">
		<!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            <div class="card mb-4">
                <div class="card-header"> Preview </div>
				<div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text text-muted h6">{{ post.user }} | {{ post.created_on}} </p>
                    <p class="card-text">{{ post.body }}</p>
                </div>
            </div>
        </div>
		<div class="col-md-4 float-right ">
			<div class="card my-4">
					<h5 class="card-header">{% translate "Tip" %}</h5>
				<div class="card-body">
					<p class="card-text">{% translate "Currently you are in draft stage of your post prior to posting. It's a good chance to check for any errors or make any updates to your post. Upon confirming your post will be published." %}</p>
				</div>
			</div>
		</div>
		        <div class="col-md-8 mt-3 left">
		<form class="form-floating needs-validation" action="{% url 'confirm_post' post_id=post.id %}" method="post" novalidate>
        {% csrf_token %}
        <div class="row mb-3">
            {{ form.title.errors }}
			<div class="col-sm-2 col-form-label">
			<label for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
			</div>
			<div class="col-10">
            {{ form.title }}
			</div>
        </div>
		<div class="row mb-3">
            {{ form.body.errors }}
			<div class="col-sm-2 col-form-label">
			<label for="{{ form.body.id_for_label }}">{{ form.body.label }}</label>
			</div>
			<div class="col-10">
            {{ form.body }}
			</div>
        </div>
		<div class="row mb-3">
            <div class="alert alert-warning" role="alert">
			{{ form.status.errors }}
			<div class="col-sm-2 col-form-label">
			<label for="{{ form.status.id_for_label }}">{{ form.status.label }}</label>
			</div>
			<div class="col-10">
            {{ form.status }}
			</div></div>
        </div>
        <div class="d-grid gap-2 col-2 mx-auto">
			<input type="submit" class='btn btn-success' value='{% translate "Publish" %}'/>
			
        </div>
    </form>
		</div>
    </div>
{% endblock %}