{% extends "base.html" %}

{% block app_content %}
    <div class="row">
	<div class="col-md-8 col-xs-12">
	<h3>{{ _('Recently added songs') }}</h3>
	<ul class="list-group">
	{% if new_songs %}
	{% for ns in new_songs %}
		<li class="list-group-item"><a href="{{ url_for('.view_song', id=ns.id) }}">{{ns.title}}</a></li>
	{% endfor %}
	{% endif %}</ul>
	</div>
	<div class="col-md-4 col-xs-12">
	<div class="card">
  <div class="card-body">
    
	<h3>{{ _('Schedule') }}</h3>
	<div class="list-group">
	{% for e in events %}
		<a href="{{ url_for('.lists', listid=e.id) }}" class="list-group-item list-group-item-action">{{ e.list_title}} - {{e.date_time}}&nbsp;&nbsp;<span class="badge bg-primary rounded-pill">{%if itemqty[e.id] %}{{ itemqty[e.id] }}{% else %} 0 {% endif %}</span></a>
	{% endfor %}
	{% for o in o_events %}
		<a href="{{ url_for('.lists', listid=o.id) }}" class="list-group-item list-group-item-action">{{ o.list_title}} - {{o.date_time}}&nbsp;&nbsp;<span class="badge bg-primary rounded-pill">{%if itemqty[o.id] %}{{ itemqty[o.id] }}{% else %} 0 {% endif %}</span></a>
	{% endfor %}
	</div>
  </div>
</div>
	</div></div>
{% endblock %}