{% load i18n %}
{% block sidebar %}


<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">Notice</h5>
    <div class="card-body">
        <p class="card-text">{% translate "Currently this project is under development. Therefore some issues may appear. Please contact us and describe any encountered issues." %}</p>
        <a href="{% url 'contact_us' %}"
           class="btn btn-danger">Contact Us</a>
    </div>
</div>
</div>

{% endblock sidebar %}