{% extends "base.html" %}

{% block head_js %}
<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
{% endblock %}

{% block content %}
<h1>{{ _('File Upload') }}</h1>
    <form action="{{ url_for('upload_avatar') }}" class="dropzone">
    </form>
    <hr>
    {% for file in files %}
      <img src="{{ url_for('upload', filename=file) }}" style="width: 64px">
    {% endfor %}
	
{% endblock %}